<?xml version="1.0"?>
<robot xmlns:xacro="http://wwww.ros.org/wiki/xacro" name="robot">

<!--基础部分 base_link-->
<xacro:include filename="$(find smart_community_sim)/urdf/robot/base.urdf.xacro"/>
<!--传感器部分 sensor-->
<xacro:include filename="$(find smart_community_sim)/urdf/robot/sensor/imu.urdf.xacro"/>
<xacro:include filename="$(find smart_community_sim)/urdf/robot/sensor/camera.urdf.xacro"/>
<xacro:include filename="$(find smart_community_sim)/urdf/robot/sensor/laser.urdf.xacro"/>
<!--执行器部分-->
<xacro:include filename="$(find smart_community_sim)/urdf/robot/actuator/wheel.urdf.xacro"/>
<xacro:include filename="$(find smart_community_sim)/urdf/robot/actuator/caster.urdf.xacro"/>
<!--插件-->
<xacro:include filename="$(find smart_community_sim)/urdf/robot/plugins/gazebo_control_plugin.xacro"/>
<xacro:include filename="$(find smart_community_sim)/urdf/robot/plugins/gazebo_sensor_plugin.xacro"/>
<xacro:include filename="$(find smart_community_sim)/urdf/robot/robot.ros2_control.xacro"/>



<!--调用上面包含的宏文件-->
<xacro:base_xacro />
<xacro:imu_xacro xyz="0.0 0.0 0.02"/>
<xacro:camera_xacro xyz="0.185 0.0 0.085"/>
<xacro:laser_xacro xyz="0.0 0.0 0.1"/>
<xacro:wheel_xacro wheel_name="left_wheel" xyz="0.0 0.12 -0.07"/>
<xacro:wheel_xacro wheel_name="right_wheel" xyz="0.0 -0.12 -0.07"/>
<xacro:caster_xacro caster_name="front_caster" xyz="0.1 0.0 -0.09"/>
<xacro:caster_xacro caster_name="back_caster" xyz="-0.1 0.0 -0.09"/>

<!--调用插件-->
<!--<xacro:gazebo_control_plugin />-->
<xacro:gazebo_sensor_plugin />
<xacro:robot_ros2_control/>

</robot>
