<?xml version="1.0"?>
<robot xmlns:xacro="http://wwww.ros.org/wiki/xacro" >
    <xacro:include filename="$(find smart_community_sim)/urdf/robot/common_inertia.xacro"/>

    <xacro:macro name="caster_xacro" params="caster_name xyz">
    <!--机器人的IMU部件，惯性测量传感器-->
    <link name="${caster_name}_link">
        <!--部件的外观描述-->
        <visual>
            <!--沿着自己几何中心的偏移和旋转量-->
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <!--几何形状-->
            <geometry>
                <sphere radius="0.03"/>
            </geometry>
            <!--材质颜色-->
            <material name="blue">
                <color rgba="0.0 0.0 1.0 0.9"/>
            </material>
        </visual>


        <!--添加碰撞属性-->
        <collision>
            <!--沿着自己几何中心的偏移和旋转量-->
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <!--几何形状-->
            <geometry>
                <sphere radius="0.03"/>
            </geometry>
            <!--材质颜色-->
            <material name="blue">
                <color rgba="0.0 0.0 1.0 0.9"/>
            </material>
        </collision>

        <!--添加质量与惯性-->
        <xacro:sphere_inertia m="0.05" r="0.03" />
    </link>

    <!--机器人的关节，用于组合机器人的部件-->
    <joint name="${caster_name}_joint" type="fixed">
        <parent link="base_link"/>
        <child link="${caster_name}_link"/>
        <origin xyz="${xyz}" rpy="0.0 0.0 0.0"/>
    </joint>
    
    <!-- 移动部件 - 实用之实（亚光黑，功能为本） -->
    <gazebo reference="${caster_name}_link">
        <material>Gazebo/Black</material>
    </gazebo>

    <gazebo reference="${caster_name}_link">
        <mu1 value="0.0"/>
        <mu2 value="0.0"/>
        <kp value="1000000000.0"/>
        <kd value="1.0"/>
    </gazebo>
    
    </xacro:macro>

</robot>
