<?xml version="1.0"?>
<robot xmlns:xacro="http://wwww.ros.org/wiki/xacro" >
    <xacro:include filename="$(find smart_community_sim)/urdf/robot/common_inertia.xacro"/>

    <xacro:macro name="camera_xacro" params="xyz">
    <!--机器人的相机部件-->
    <link name="camera_link">
        <!--部件的外观描述-->
        <visual>
            <!--沿着自己几何中心的偏移和旋转量-->
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <!--几何形状-->
            <geometry>
                <!-- 定义一个正方体：长(x) 宽(y) 高(z)，单位：米 -->
                <box size="0.02 0.10 0.02"/>
            </geometry>
            <!--材质颜色-->
            <material name="black">
                <color rgba="0.0 0.0 0.0 1.0"/>
            </material>
        </visual>


        <!--添加碰撞属性-->
        <collision>
            <!--沿着自己几何中心的偏移和旋转量-->
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <!--几何形状-->
            <geometry>
                <!-- 定义一个正方体：长(x) 宽(y) 高(z)，单位：米 -->
                <box size="0.02 0.10 0.02"/>
            </geometry>
            <!--材质颜色-->
            <material name="black">
                <color rgba="0.0 0.0 0.0 1.0"/>
            </material>
        </collision>

        <!--添加质量与惯性-->
        <xacro:box_inertia m="0.1" w="0.02" h="0.10" d="0.02"/>
    </link>

    <!--机器人的关节，用于组合机器人的部件-->
    <joint name="camera_joint" type="fixed">
        <origin xyz="${xyz}" rpy="0.0 0.0 0.0"/>
        <parent link="base_link"/>
        <child link="camera_link"/>
    </joint>
    </xacro:macro>

</robot>
